<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{{'app.transactions'|trans}}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <div class="container">
        {% block header %}{% endblock %}
    </div>
</header>

{% block body %}
    <div class="container">
        <div id="application"></div>
        
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('build/react.js') }}"></script>
    <script src="{{ asset('build/react-dom.js') }}"></script>
    <script src="{{ asset('build/app.app.js') }}"></script>
{% endblock %}
</body>
</html>
